<h2>Calendars <a href="?page=jih-NewCalendar" class="add-new-h2">Add New</a>
</h2>

<form id="search-form" method="get" action="">
    <p class="search-box">
        <label class="screen-reader-text" for="plugin-search-input">Search Calendars:</label>
        <input type="search" id="plugin-search-input" name="search" value="{{ search }}" placeholder="calendar name">
        <input type="submit" id="search-submit" class="button" value="Search Calendars"></p>
</form>

<table class="wp-list-table widefat fixed selectable">
    <thead>
    <tr>
        <th style="width: 24px;"><label for="cal-header"></label><input type="checkbox" id="cal-header"></th>
        <th style="width: 24px"></th>
        <th style="width: 100px;">Id</th>
        <th>Name</th>

    </tr>
    </thead>
<tbody>
{% for calendar in calendars %}
<tr>
    <th><label for="cal-{{ calendar.id }}"></label><input type="checkbox" id="cal-{{ calendar.id }}"></th>
    <th><input type="button" onclick="DeleteCalendar({{ calendar.id }})" value="x" /></th>
    <td>{{ calendar.id }}</td>
    <td>{{ calendar.name }}</td>
</tr>

{% endfor %}
</tbody>
</table>
