{% extends 'theme-sparkling.twig' %}

{% block content %}

    <div class="content-headline">
        <h1 class="entry-headline"><span class="entry-headline-text">Gebed - {{ calendar.name }}</span></h1>
    </div>

    <div class="schedular-header row">
        <div class="col-md-4">
            <a onclick="gotoLastWeek()" class="btn">&lt;</a>
            <a onclick="gotoToday()" class="btn">Vandaag</a>
            <a onclick="gotoNextWeek()" class="btn">&gt;</a>
        </div>
        <div class="col-md-4">
            <h3 id="calendar-header-date" style="margin: 4px 0 0 0;text-align: center;"></h3>
        </div>
        <div class="col-md-4">
            <select name="calendar" class="form-control" id="jih-calendar-choice" onchange="ChangeCalendarId($(this).val())" style="">
                {% for calendar in calendars %}
                    <option value="{{ calendar.id }}" {{ calendar.id==calendarId ? 'selected' }}>{{ calendar.name }}</option>
                {% endfor %}
            </select>

        </div>

    </div>



    <table id="jih-calendar" class="table table-striped table-bordered calendar fixed">
        <thead>
        <tr>
            <th style="width: 102px"></th>
            {% for date in dates %}
                <th>{{ date }}</th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in 0..23 %}
        <tr>
            <th>{{ i }}:00 - {{ i+1 }}:00</th>
            {% for date in dates %}
                <td></td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="entry clearfix">

        <p>This is an example page. It’s different from a blog post because it will stay in one place and will show up
            in your site navigation (in most themes). Most people start with an About page that introduces them to
            potential site visitors. It might say something like this:</p>

    </div>

    {% block modals %}
        <div id="jih-plan-hour" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title">Boek een gebedsuur</h4>
                    </div>
                    <form id="schedular-event-form" class="form-horizontal" role="form" action="/" method="post">
                        <div class="modal-body">
                            <div class="hide">
                                <input id="redirect-url" type="text" class="form-control" name="redirectUrl" value="">
                            </div>
                            <div class="form-group">
                                <label for="jih-date" class="col-sm-2 control-label">Datum-tijd</label>

                                <div class="col-sm-10">
                                    <input id="jih-date" type="datetime" class="form-control" name="datetime" placeholder="Date" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jih-name" class="col-sm-2 control-label">Naam</label>

                                <div class="col-sm-10">
                                    <input id="jih-name" type="text" class="form-control" name="name"
                                           placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jih-email" class="col-sm-2 control-label">Email*</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="jih-email" name="email"
                                           placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jih-email" class="col-sm-2 control-label">Beschrijving</label>

                                <div class="col-sm-10">
                                    <textarea id="jih-description" class="form-control" rows="3" name="description"
                                              placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jih-pin" class="col-sm-2 control-label">Pin</label>

                                <div class="col-sm-10">
                                    <input type="text" name="pin" class="form-control" id="jih-pin" placeholder="om boeking te verwijderen">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Captcha</label>
                                <div class="col-sm-10 recaptcha-container">
                                    <div class="g-recaptcha" data-sitekey="6Lcw1vsSAAAAALvmsu3KhRbv1LdLTnG83naZ2xcW"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div id="jih-info-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title">Event Details</h4>
                    </div>
                    <form id="delete-event-form" class="form-horizontal" role="form" action="/" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-sm-2">Id</div>
                                <input type="hidden" class="data-id" name="id" value=""/>
                                <div class="col-sm-10 data-id">
                                    Id
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">Datum-tijd</div>
                                <div class="col-sm-10 data-datetime">
                                    Date
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">Naam</div>

                                <div class="col-sm-10 data-name">
                                    Name
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">Email</div>

                                <div class="col-sm-10 data-email">
                                    Email
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">Beschrijving</div>

                                <div class="col-sm-10 data-description">
                                    Description
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jih-info-pin" class="col-sm-2 control-label">Pin</label>

                                <div class="col-sm-10">
                                    <input type="password" name="pin" class="form-control" id="jih-info-pin" placeholder="Pin">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endblock %}

{% endblock %}
