<h1>Aanvraag gebedsruimte</h1>

<table>
    <tbody>
        <tr>
            <td>
                Naam:
            </td>
            <td>
                {{ name }}
            </td>
        </tr>
        <tr>
            <td>
                Omschrijving
            </td>
            <td>
                {{ description }}
            </td>
        </tr>
    <tr>
        <td>
            Naam contactpersoon:
        </td>
        <td>
            {{ contact.name }}
        </td>
    </tr>
        <tr>
        <td>
            Email contactpersoon:
        </td>
        <td>
            {{ contact.email }}
        </td>
        </tr>
        <tr>
        <td>
            Telefoon contactpersoon:
        </td>
        <td>
            {{ contact.phone }}
        </td>
    </tr>
    </tbody>
</table>